@model LeafAndBean.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Details Page" />
    <meta name="keywords" content="Details Keyword" />
}

    <h2>Details</h2>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
        </dl>
    </div>
    <div>
        <style>
            a {
                color: #2F170F /* Dk Brwn link color */;
                text-decoration: underline;
            }
        </style>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
